registry=https://registry.npmjs.org/
always-auth=false

@front-core:registry = https://repo.sberned.ru/repository/front-core/
@domclick-ui:registry = https://npm.sberned.ru/public/
@domclick:registry = https://npm.sberned.ru/public/
